# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
dist/
build/
.parcel-cache/
.turbo/
.next/
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env files
.env
.env.*


